/* reset.css */

/* Elimina el margen y el relleno predeterminados de todos los elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Asegura que todos los elementos de la lista no tengan viñetas */
  ul, ol {
    list-style: none;
  }
  
  /* Elimina el subrayado de los enlaces */
  a {
    text-decoration: none;
    color: inherit; /* Hereda el color del texto del elemento padre */
  }
  
  
  /* Asegura que los encabezados no tengan márgenes por defecto */
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
  }
  
  /* Asegura que los elementos de tabla no tengan bordes ni espacio entre celdas */
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  /* Define un estilo base para las imágenes para que no se desborden */
  img {
    max-width: 100%;
    height: auto;
  }
  